/**
 * @file swan index apiDemo's css
 * @author renzhonghua
 */
.container{
    font-size: 0.15rem;
}
.shop_item {
  padding: 0 10px;
  background: #f7f7f7;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-bottom: 0.3rem;
}
.list {
  background: #fff;
  width:48%;
  margin-top: 0.18rem;
  
}
.image_box {
    width: 100%;
    height: 1.66rem;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 100% 100%;
    
  }
  .image_box image {
      width: 100%;
      height: 2.74rem;
    }
  .product_name {
    color: #1a1a1a;
    font-size: 0.15rem;
    display: flex;
    align-items: center;
    
  }
  .product_name .g-name{
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .prod_zys:after {
      font-size: 0.15rem;
      color: #cea068;
    }
    div {
      text-overflow: ellipsis;
      white-space: nowrap;
      overflow: hidden;
    }
  .price {
    color: #cea068;
    font-size: 0.15rem;
    font-weight: 400; 
  }
  .cost_price {
    color: #c7c7c7;
    font-size: 0.16rem;
    text-decoration: line-through;
    font-weight: 100;
  }
  .goods {
    padding: 0.1rem;
    
  }
  div {
      box-sizing: initial;
    }
    .iconfont:before {
      color: #ea4141;
      font-size: 0.15rem;
      display: inline-block;
      position: relative;
      top: 0.15rem;
    }
  .product_info {
    display: flex;
    align-items: flex-end;
    height: 0.3rem;
    line-height: 0.3rem;
  }
  .cost_price {
    padding-left: 0.2rem;
  }
  .sale_msg {
    font-size: 0.15rem;
    color: #c7c7c7;
    padding: 0.1rem 0;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .inx-nav-box {
  /* height: 0.6rem; */
  width: 100%;
  background: #fff;
  position: relative;
  z-index: 5;
}
.inx-nav-alt {
    position: absolute;
    /* top: 1.07rem; */
    left: 0;
    width: 100%;
    background: #fff;
    overflow: hidden;
    z-index: 7;
    padding-left: 10px;
  }
  .sub-cate{
    position: absolute;
    top: 1.07rem;
    left: 0;
    right: 0;
    background: #fff;
    z-index: 10;
    height: 5rem;
    overflow: scroll;
}   
.active{
    color: #cea068;
  }
  .selem {
    line-height: 0.4rem;
    font-size: 0.15rem;
    color: #666;
    position: relative;

  }
    .bg-span{
      background: #ececec;
      width: 1.2rem;
    }
    span{
      padding: 0 0.5rem 0 0;
      padding-left: 0.3rem;
      display: inline-block;
      line-height: 1rem;
    }
    .topActive{
      background: #fff;
      color: #cea068;
    }
  .activ {
    color: #cea068;
  }
  .activ:before {
    content: "";
    display: block;
    width: 0.04rem;
    height: 0.6rem;
    background: #cea068;
    position: absolute;
    top: 0.2rem;
    left: -0.26rem;
  }
  .inx-nav-pay {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 0.6rem;
    padding-bottom: 10px;
}
.inx-nav-pay .input {
    /* width: 1.96rem;
    height: 0.76rem; */
    border: 1px solid #d7d7d7;
    background: none;
    border-radius: 0.08rem;
    text-align: center;
    box-sizing: content-box; 
    margin: 0 ;
    height: .18rem;
    line-height: .18rem;
    font-size: .14rem;
    padding-left: 0;
  }
  .savSec {
    width: 0.8rem;
    height: 0.3rem;
    background: #cea068;
    color: #fff;
    font-size: 0.14rem;
    text-align: center;
    line-height: 0.3rem;
    border-radius: 0.08rem;
    margin-left: 0.32rem;
  }
  .sav-line {
    width: 0.1rem;
    height: 2px;
    background: #efefef;
    margin: 0 0.1rem;
  }
.nav_list {
  /* border-top: 0.18rem solid #f7f7f7; */
  height: 0.4rem;
  background: #fff;
  display: flex;
  border-bottom: 1px solid #f5f5f5;
  
}
.nav_list .don-v {
    font-size: 0.16rem;
    flex: 1;
    text-align: center;
    line-height: 0.4rem;
  }
  .active {
    font-weight: 300;
    color: #cea068;
  }
  .nav_list .don-v:after {
    content: "";
    height: 0;
    width: 0;
    display: inline-block;
    border: 0.05rem transparent solid;
    border-bottom-width: 0;
    border-top-color: #bbb;
    margin-left: 5px;
    position: relative;
    top: -3px;
  }
  .active:after{
    border-top-color: #cea068;
  }
  .back-top{
    position: fixed;
    right: 15px;
    bottom: 50px;
    display: flex;
    justify-items: center;
    align-items: center;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
  .back-top image{
    width: 50px;
    height: 50px;
  }